<form>
    <mat-form-field class="form-field">
        <mat-label>Continuați cu locația curentă?</mat-label>
        <mat-select [formControl]="choicesControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let choice of choices" [value]="choice.value">
            {{choice.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="choicesControl.hasError('required')">Trebuie să alegeți o opțiune</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width form-field">
        <mat-label>Introduceți noua adresă (dacă este cazul)</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Doriți ca doctorul dumneavoastră să fie bărbat sau femeie?</mat-label>
        <mat-select [formControl]="anotherChoicesControl" required>
            <mat-option *ngFor="let anotherchoice of anotherchoices" [value]="anotherchoice.value">
            {{anotherchoice.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="anotherChoicesControl.hasError('required')">Trebuie să alegeți o opțiune</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Doriți un medic de la un cabinet privat sau de stat?</mat-label>
        <mat-select [formControl]="thirdChoicesControl" required>
            <mat-option *ngFor="let thirdchoice of thirdchoices" [value]="thirdchoice.value">
            {{thirdchoice.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="thirdChoicesControl.hasError('required')">Trebuie să alegeți o opțiune</mat-error>
    </mat-form-field>

    <h4>Selectați prețul maxim pe care doriți să îl alocați tuturor procedurilor medicale (în LEI):</h4>
    <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="10"
        min="100"
        max="10000"></mat-slider>
       
</form>