<mat-tab-group >
  <mat-tab label="Simptome">

    <auto-complete-example></auto-complete-example>

  </mat-tab>


 <mat-tab label="Detalii simptome">
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Când au apărut simptomele?</mat-label>
      <textarea matInput placeholder="Ex. In jurul datei de 1.04.2020." ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Detaliați simptomele.</mat-label>
      <textarea matInput placeholder="Ex. Durerea de cap este localizata in zona frontala si se manifesta in prima parte a zilei."></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Ați mai întâmpinat astfel de simptome? Dacă răspunsul este da, descrieți pe scurt cum ați acționat atunci.</mat-label>
      <textarea matInput placeholder="Ex. Da. Am fost la medicul de familie si mi-a prescris o serie de pastile."></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Bănuiți care ar fi cauza simptomelor?</mat-label>
      <textarea matInput placeholder="Ex. Da. Acum cateva saptamani am suferit de o raceala puternica. "></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>În momentul de față luați vreun medicament? Aveți vreo afecțiune pe care doriti să o menționați?</mat-label>
      <textarea matInput placeholder="Ex. Nu. Momentan nu iau niciun medicament."></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Alte informații pe care doriți să le adăugați?</mat-label>
      <textarea matInput ></textarea>
    </mat-form-field>
  </form>

</mat-tab>

 <mat-tab label="Informații suplimentare">
  <addition></addition>
 </mat-tab>

</mat-tab-group>

