<body>
  <mat-card>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Simptome</ng-template>
      
     <auto-complete-example></auto-complete-example>
      
     <div>
      <button mat-button matStepperNext>Următorul</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
   
      <ng-template matStepLabel>Detalii simptome</ng-template>
     <inputComponent></inputComponent>
      <div>
        <button mat-button matStepperPrevious>Înapoi</button>
        <button mat-button matStepperNext>Următorul</button>
      </div>
    
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
   
    <ng-template matStepLabel>Informații suplimentare</ng-template>
   <addition></addition>
    <div>
      <button mat-button matStepperPrevious>Înapoi</button>
      <button mat-button matStepperNext>Următorul</button>
    </div>
  
</mat-step>
  <mat-step>
    <ng-template matStepLabel>Salvare</ng-template>
    <p class="inf"><b>Informațiile tale au fost înregistrate!</b></p>
    <p class="inf2">Mulțumim pentru timpul acordat. Poți vedea recomandările noastre apăsând butonul "Vezi recomanări".</p>
    <div>
      <button mat-button matStepperPrevious>Înapoi</button>
      <button mat-button (click)="stepper.reset()">Vezi recomandări</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</mat-card>
</body>
<!--<body>
  <mat-card>
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Simptome</ng-template>
          <auto-complete-example></auto-complete-example>
         
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Detalii simptome</ng-template>
            <inputComponent></inputComponent>
            
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Informații suplimentare</ng-template>
              <inputComponent></inputComponent>
             
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Salvat</ng-template>
              <p>Informațiile tale au fost înregistrate.</p>
              <div>
                <button mat-button matStepperPrevious>Înpoi</button>
                <button mat-button (click)="stepper.reset()">Vezi recomandări</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
         
        </mat-card>
         </body>
        -->
    <!--
<mat-tab-group >
  <mat-tab label="Simptome">
    <auto-complete-example></auto-complete-example>
  </mat-tab>
 <mat-tab label="Detalii simptome">
  <inputComponent></inputComponent>
</mat-tab>
 <mat-tab label="Informații suplimentare">
  <addition></addition>
 </mat-tab>
</mat-tab-group>-->

