body{
  background-color:#3f51b5;
  padding-top:100px;

  padding-top:100px;

  }
  mat-card
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: 300px;
    margin-right:300px;
    flex:1;
  }

  mat-horizontal-stepper {
    flex:1;

  }
  

  .inf
  {
    padding-top:50px;
    
    
  }
  .inf2
  {padding-bottom:50px;

  }
  p
  {
    text-align:center;
  }

